.container {
    width: 800px;
    margin: auto;
}

.question {
    padding: 2.5rem;
    background-color: white;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.vote
{
    display: flex;
    margin: .5rem;
}