$red: #ff0000;
$font: Ariel;
$footer-font-color: orange;
 
body {
    color: $red;
}

h1 {
    background-color: lightblue;
    border-bottom: 1px solid $red;
}

footer {
    color: $footer-font-color;
}


@import 'header.scss';